			
	</div><!--/col-9-->
		
		</div><!--/row-->

      </div><!--/container-->

    </div><!--/wrap-->
			
				
				
				
    <div id="footer">
      <div class="container">
        <!--<p class="text-muted credit"><span class="pull-left"><a href="about.php">About</a> | <a href="privacy-policy.php">Privacy-Policies</a>-->
        	 <p class="text-muted credit"><span class="pull-left"><a href="/about/">About</a> | <a href="/privacy-policy/">Privacy-Policies</a>
        	| Made in USA | &copy; <?php echo SITE_NAME;?> - 
            <?php
              $now= new DateTime();
              echo $now->format('Y');
			?>
			| Created by <a href="http://www.dukesnuz.com">Dukesnuz</a>
			|
			<a href="https://twitter.com/scrapinventory" class="twitter-follow-button" data-show-count="false">Follow @scrapinventory</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						
                          <a href="https://twitter.com/share" class="twitter-share-button" data-via="scrapinventory">Tweet</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>		
	
     
        	
			</span></p>
      </div>
    </div>

	
	        <?php
	        /********************add page history**********************************/
			        require('./includes/history.inc.php');
			/*********************END get commodity for this company***************/	
			?>
	
	<script src="/js/bootstrap.min.js"></script>
	
<!--------START Chat------------>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/564f360790d1bced690df445/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

		
		<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=5668924; 
var sc_invisible=1; 
var sc_security="8bcc0f95"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify site
analytics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/5668924/0/8bcc0f95/1/"
alt="shopify site analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
  </body>
</html>