<div class="container">
	
	
	<h1>What is <?php echo SITE_NAME ?> About</h1>
	
	<p  class='alert alert-success'>
		This site contains companies that are involved with recyling and re-using commodites.  The site
		is catagorized by type of companies and by commodity each company is invloved with.
	    
	    To list your company simply sign up-link to user 
	    Then register your company.  Along with you subscription you will also be able to view details for any other
	    company listed on this site.  
	    
	    
	    We have a nominal fee for signing up.  The fee is $60. 00 per year.
	    If after one year you do not want to renew, simply do not.
	    
		
		Some stuff here 
		links to set up user if not logged in
		link to pay if expired
	</p>
	
	<p  class='alert alert-success'>
		Some stuff here 
		links to set up user if not logged in
		link to pay if expired
	</p>
	
	<br /><p  class='alert alert-success'>
		Some stuff here 
		links to set up user if not logged in
		link to pay if expired
	</p>
</div>
