<h2>Saved Favorite Companies</h2>
<div class="container">
	<div class="row">
   <ul class="list-group list-unstyled alert alert-success">
<?php
   // echo '<h3 class="list-group-heading">Saved Favorite Companies</h3>';
		
   
	while($row = mysqli_fetch_array($r, MYSQLI_ASSOC))
		{
	    $company = str_replace(' ', '', $row['company']);
		echo "<li class='list-group-item-text'><a><a href='company_detail.php?id=$row[company_id]&name=$company' class='list-group-item'>$company | $row[companytype]</a></li>";
		}//END while loop
				
					
	?>
	 </ul>
  </div>
</div>
	