
<br clear="all" />

<?php

// final.html
 
echo BOX_BEGIN;
?>

<div class= "alert-success">
<h2>Your order is complete</h2>
<p>Thank you for your order (#<?php echo $_SESSION['oid']; ?>).
	Please use this order number in any correspondence with us.</p>
	 
<p>A charge of $<?php echo number_format($_SESSION['otl'] /100, 2); ?> will
	appear on your credit card.  You may now 
	<a href="index.php">log</a> in to recieve the full Scrapinventory experience.</p>

    
       
<p>You will be automatically billed each year for $84.00. You may cancel within 14 days and recieve a full refund.</p> 
<p>An email conformation has been sent to your email address.</p>

 </div>


	<!--<a href="receipt.php">Click here </a>to create a printable receipt of your order.</p>-->
	<!--below line added in chp 13 p 426-->
	<!--sha1 is not working in mysqli so i am going to use custoer_id which will always be random-->
	<!--<a href="receipt.php?x=<?php echo $_SESSION['order_id'].'&y='.sha1($_SESSION['email']) ; ?>">
	Click Here</a>to create a printable receipt of your order.</p>-->
  <!--<a href="receipt.php?x=<?php echo $_SESSION['oid'].'&y='.$_SESSION['y'] ; ?>">
	Click Here</a>to create a printable receipt of your order.-->

<?php echo BOX_END; ?>