			
	</div><!--/col-9-->
		
		</div><!--/row-->

      </div><!--/container-->

    </div><!--/wrap-->
			
				
				
				
    <div id="footer">
      <div class="container">
        <p class="text-muted credit"><span class="pull-left"><!--<a href="site_map.php">Site Map</a> | --><a href="about.php">About</a> | <a href="privacy-policy.php">Privacy-Policies</a></span> 
        	
        	<span class="pull-right">Made in USA | &copy; <?php echo SITE_NAME;?> - 
            <?php
              $now= new DateTime();
              echo $now->format('Y');
			?>
			</span></p>
      </div>
    </div>


	<script src="js/bootstrap.min.js"></script>
	
	
	
	
	
		<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=5668924; 
var sc_invisible=1; 
var sc_security="8bcc0f95"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify site
analytics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/5668924/0/8bcc0f95/1/"
alt="shopify site analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
  </body>
</html>