


<section>
	<header>
		<h1><?php echo SITE_NAME ?></h1>
	</header>
	
	
	
	<p>
	<?php echo SITE_NAME?> is a site that contains companies that recycle, resell and reuse commodities.
	 </p>
	 
	
	 	<?php
				if( !isset($_SESSION['uid'])  && !isset($_SESSION['cid']) )
					{
	        echo '<p>We have 2 types of reigistration plans.</p>';
			echo '<ol>
					<li>';
		
						echo '<a href="register_user.php">User registration:</a>
						    Allows you to view company names listed here.  Cost is Free.</li>';
		    
					echo '<li>Registration: Allows you to list your Company/indivdual here. Also you can view 
						        Companies/indivduals listed along with viewing detailed information on each listed. 
						        Your company/indivdual will also be listed and details will be viewable to subscribers. 
						        Cost is <?php echo BASIC_FEE; ?> per year.</li>';
					}
				
		
	      echo '</ol>';
	
	

if( isset($_SESSION['uid'])  && isset($_SESSION['cid']) )
{
			if(isset($_SESSION['user_not_expired']) )
				{
			 	   echo '<p class=" alert alert-success">Your account is active</p>';
				}else{
					echo '<p class="alert alert-danger">Your account is expired. 
					 <a href=https://'.BASE_URL.'/billing.php>Renew</a></p>';
				}
}
?>
</section>			
			
<section style="margin-left:5%;margin-top:20%;text-align: center">
	<header>
		<h2>Recycle | Reclaim | Reuse</h2>
		<h3>Let's keep it Green</h3>
	</header>
	<ul style="float:left;list-style:none">
		<li><img src="./images/palm_tree.jpg" alt ='Palm Tree'></li>
		<li><img src="./images/recycling-symbol.png" alt ='Recycle Symbol'></li>
	</ul>
	
   <ul style="float:left;list-style:none">
		<li><img src="./images/bottles.jpg" alt ='Plastic Glass Bottles'></li>
		<li><img src="./images/cans.jpg" alt ='Aluminium Cans'></li>
		<li><img src="./images/bottles.jpg" alt ='Glass Plastic Bottles'></li>
    </ul>
    
    <ul style="float:left;list-style:none">
		<li><img src="./images/pallet_bale.jpg" alt ='Plasic Pallet Baled Clothes'></li>
		<li><img src="./images/clothes.JPG" alt ='Used Clotes Vintage Clothing'></li>
		<li><img src="./images/red_shoes.jpg" alt ='Used Shoes'></li>
	   </ul>
	   
</sectioon>